* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;

    justify-content: space-between;
    align-items: center;

    padding: 10px;
    background-color: mediumvioletred;
}

header nav a {

    justify-content: space-evenly;

    padding: 10px;
    text-decoration: none;

    background-color: #4CAF50;
    border-radius: 5px;
}

#produtos {

    height: 100vh;
    width: 100vw;

    background-color: aquamarine;
}

#produtos h2 {
    padding: 10px;
}