body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Fondo general que resalta las secciones */
    font-family: Arial, sans-serif;
}

header, main, footer {
    margin: 20px auto; /* Espaciado alrededor de cada sección */
    border-radius: 15px; /* Bordes redondeados para todas las secciones */
    background-color: white; /* Fondo blanco para el contenido */
    max-width: 1200px; /* Anchura máxima de las secciones */
    overflow: hidden; /* Asegura que las imágenes y otros contenidos respeten los bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar sensación de profundidad */
}

header h1 {
    text-align: center;
    background-color: #3AB795;
    margin: 0;
    padding: 20px;
    color: white;
    font-family: Arial, sans-serif;
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #31493c;
    padding: 10px 50px;
    box-sizing: border-box;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, sans-serif;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffcf56;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

main {
    background-color: #EDEAD0;
    padding: 20px;
    box-sizing: border-box;
}

footer {
    text-align: center;
    background-color: #31493c;
    padding: 10px;
    color: white;
    font-family: Arial, sans-serif;
    border-bottom-left-radius: 15px; /* bordes inferiores redondeados */
    border-bottom-right-radius: 15px;
}

footer p {
    margin: 0;
}
