* {
    margin:0;  
    padding:0;  
    box-sizing: border-box; /* medidas sao tomadas da borda */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;

    border-radius: 10px; 
    padding: 10px;

    background: #f7ebfd;
}

h1 {
    font-size: 32px;
    font-weight: bolder;

    font-family: 'Poppins', sans-serif;
    color: #47026c;
}

nav {
    display:flex;
    gap: 10px;

    font-family: sans-serif;
}

nav a {
    padding: 20px;
    border-radius: 20px;

    font-size: 14px;
    text-decoration: none;
    color: #c670ff;

    background-color: transparent;
}

nav a:last-child {
    border-radius: 20px;

    background-color: #ffd500;
}

nav a:hover {
    color: #f35b04;
}

nav a:active {
    font-weight: bolder;
}